*{
	margin: 0;
	padding: 0;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
	background-position: center;
	background-size: cover;
	position: absolute;
}


.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #E0FFFF;
	padding: 5px;


}
.input_grp{
	top: 0;
	position: absolute;
	width: 300px;
	height: 100%

}
.field{
	width: 100%;
	padding: 5px 0;
	margin: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	background-color: #0000
	
}
.loginbox p{
	 margin:60px;
	 padding:0;
}
.btn{
	width: 85%;
	padding: 10px 30px;

	cursor: pointer;
	display: block;
	margin: auto;
	outline: none;
	background:#fb2525;

	border-radius: 30px;

}