body
{
	background-size: cover;
}
.provider
{
	 width:300px;
	 height:300px;
	margin-left:-50%
	top: -70px;
	 left: 200px;
}
.tiffin
{
	width:300px;
	 height:300px;	
}
.btn1{
	width: 20%;
	padding: 10px 30px;

	cursor: pointer;
	display: block;
	margin: auto;
	outline: none;
	background:#fb2525;

	border-radius: 30px;

}

.btn2{
	width: 20%;
	padding: 10px 30px;

	cursor: pointer;
	display: block;
	margin: auto;
	outline: none;
	background:#fb2525;

	border-radius: 30px;

}
